*{
    padding: 0;
    margin: 0;
}

.navBarContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
ul{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 400px;
    flex-wrap: wrap;
    li{
        list-style: none;
    }
    a{
        text-decoration: none;
        color: black;
    }
}
img{
    width: 300px;
    height: 360px;
}
.productContainer{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
